<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="sharpen.ui.tests"
   name="Java To C# UI Tests Plug-in"
   version="1.0.0"
   provider-name="db4objects Inc."
   >

   <runtime>
      <library name="sharpenuitests.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
